body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 120px;
  height: 400px;
  margin: 50px;
  background-color: grey
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0.5rem;
}

.red {
  background-color: Red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.whitesmoke {
  background-color: whitesmoke;
}

.btn {
  margin: 20px;
  padding: 10px;
  background-color: grey;
  color: white;
  font-weight: bold
}